---
---

@import "minima";

.site-title {
    color: purple;
}
a {
    color: purple;
}
.site-title {
    color: purple;
}
h1 {
    color: purple;
}
h2 {
    color: purple;
}
h3 {
    color: purple;
}
